<!DOCTYPE html>
<html>
	<head>
	        <link
                    href="http://cdn.pydata.org/bokeh/release/bokeh-2.1.0.min.css"
                    rel="stylesheet" type="text/css">
                <link
                    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.0.min.css"
                    rel="stylesheet" type="text/css">

                <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.1.0.min.js"></script>
                <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.0.min.js"></script>
		<title>Bokeh Testing</title>
	</head>
	<body>
		<div><a href="/">Apartment</a> <a href="/fish">Fish</a></div>
		<h1>Test Plot</h1>
		 {{ script|safe }}
                 {{ div|safe }}
	</body>
</html>