<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }} - Apartment Measurements</title>
		{% else %}
		<title>Apartment Measurements</title>
		{% endif %}
	</head>
	<body>
		<div><a href="/fish">Fish</a></div> <a href="/bokehtest">Bokehtest</a></div>
		<h1>Current measurements on {{ datadic.today }}</h1>
		<p>Max lum, humidity, and temperature for today:</p>
		<ul>
			<li>{{ datadic.maxlum }}</li>
			<li>{{ datadic.maxhum }}</li>
			<li>{{ datadic.maxtemp }}</li>
		</ul>
		<p>Measurements at {{ datadic.now }}</p>
		<ul>
			<li>Lum: {{ datadic.lum }}</li>
			<li>Humidity: {{ datadic.hum }}</li>
			<li>Temperature: {{ datadic.temp }}</li>
		</ul>
		{% for pic in piclist %}
		<img src={{pic}} ALT="">
		{% endfor %}
	</body>
</html>
